<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProperty scope="context" name="rootLogLevel" source="logging.level.root" defaultValue="INFO"/>

    <appender name="STRUCTURED_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>true</includeContext>
        </encoder>
    </appender>

    <root level="${rootLogLevel}">
        <appender-ref ref="STRUCTURED_STDOUT"/>
    </root>
</configuration>
